#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [1]:
# Import libraries
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel
from scipy.stats import ttest_1samp

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [3]:
# # Read the text file
# df = pd.read_csv('ttest_machine.txt')

# # Write the dataframe to a CSV file
# df.to_csv('ttest_machine.csv', index=False)

In [4]:
#H0: average time new machine is equal to old machine
#H1: average time new machine is lower than then to old machine

In [5]:
data = pd.read_csv('ttest_machine.csv',sep=";")
data

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [6]:
round(np.mean(data['Old_machine']),2)

43.23

In [7]:
old_mean = data['Old_machine'].mean()
old_mean

43.230000000000004

In [8]:
st.ttest_1samp(data['New_machine'],43.23)

Ttest_1sampResult(statistic=-5.043318535038297, pvalue=0.0006966376076759338)

In [9]:
print('p value (single tailed): ',st.ttest_1samp(data['New_machine'],43.23)[1]/2)

p value (single tailed):  0.0003483188038379669

In [10]:
# The result - T test shows us that H0 can be rejected. New machine has the same average speed as the old machine is impossible to say. The statistic value is a negative number indicating average value of the new_machine is lower than the old_machine

In [11]:
# https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html

In [12]:

# # We here have independent samples, as the measure are made on separate machines.
# # H0 will be : the old machine is faster or needs the same time as the new machine : time_old <= time_new
# # H1=  : the new machine is faster : time_new < time_old
# st.ttest_ind(df['New machine'], df['Old machine'], equal_var=False)

In [13]:
# # Read the text file
# df = pd.read_csv('ttest_machine.txt')

# # Write the dataframe to a CSV file
# df.to_csv('ttest_machine.csv', index=False)

In [14]:
# df = pd.read_csv('ttest_machine.csv',sep=";")
# df

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [15]:
# Your code here:
# Load the data:
pokemon = pd.read_csv('pokemon.csv')
pokemon = pokemon.drop(columns='#')
# pokemon
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [16]:
pokemon = pd.read_csv('pokemon.txt')
# https://medium.com/@christhai_6937/data-science-in-python-part-2-exploring-pokemon-data-using-pandas-and-seaborn-cd54d1ae5ec0

In [17]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [18]:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

In [19]:
legend = pokemon[pokemon['Legendary']==True]
non_legend = pokemon[pokemon['Legendary']==False]
legend
non_legend
# These two lines of code are creating two new DataFrames from the original pokemon DataFrame. The first line creates a DataFrame legend that only includes the rows from pokemon where the Legendary column is equal to True. The second line creates a DataFrame non_legend that only includes the rows from pokemon where the Legendary column is equal to False. Both of these new DataFrames will only contain the rows from the original pokemon DataFrame that meet the specified condition.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [ ]:
# The given code defines a function named t_test_features that performs a two-sample t-test on specified features of two input dataframes s1 and s2. The function takes three arguments:
# s1: The first sample dataframe.
# s2: The second sample dataframe.
# features: A list of features to perform t-test on (default is ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']).
# The function returns a dictionary where the keys are the feature names and the values are the p-values obtained from the t-test.

In [20]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    
    results = {}
    
    for feat in features:
        test_result = ttest_ind(s1[feat], s2[feat], equal_var=False)
        p_value = test_result[1]
        results.update({feat:p_value})
    
    return results

In [21]:
# The above code is a function named t_test_features that performs independent t-tests between two samples (s1 and s2) for specified features. The function returns a dictionary where the keys are the names of the features and the values are the p-values obtained from the t-tests. The t-tests are two-sample t-tests with the assumption of unequal variances (Welch's t-test) and are conducted using the ttest_ind function from the scipy.stats module.

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [22]:
# H0 = Legendary and Non_Legendary have the same means
# H1 = Legendary and Non_Legendary have different means

In [23]:
# # Your code here
# # Here we want to compare two different measures for each Pokemon, so we are indeed using paired samples.
# # H0 will be : both figures are statistically similar
# # H1 will be : both figures are not statistically similar
# st.ttest_rel(pokemon['Defense'], pokemon['Attack'])

In [24]:
# Your code here
# leg_results will contain a dictionary where the keys are the names of the features (e.g. 'HP', 'Attack', 'Defense', etc.) and the values are the corresponding p-values from a two-sample t-test comparing the values of each feature between the legendary Pokemon and the non-legendary Pokemon. The purpose of this code is to determine if the features of legendary Pokemon are significantly different from those of non-legendary Poke
leg_results = t_test_features(legend,non_legend)
leg_results
# https://www.mathworks.com/help/stats/ttest.html

{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [25]:
# Your comment hereLegendary and non-Legendary have significantly different stats

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [26]:
# Your code here
### H0 = Generation 1 and Generation 2 have the same means
### H1 = Generation 1 and Generation 2 have different means

#### What conclusions can you make?

In [27]:
# Your code here
gen_1 = pokemon[pokemon['Generation']==1]
gen_2 = pokemon[pokemon['Generation']==2]
gen_results = t_test_features(gen_1,gen_2)
gen_results
# Gen 1 and Gen 2 Pokemon might only differ in Speed.
# This code performs t-test on two different generations of Pokemon, generation 1 and generation 2, to test whether the means of the features 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total' of the two generations are significantly different or not. The t_test_features function is called with the gen_1 and gen_2 dataframes as input and the results of the t-tests are stored in the gen_results dictionary. The code returns the gen_results dictionary which contains the p-values for each of the seven features for the t-tests comparing the two generations.

{'HP': 0.14551697834219623,
 'Attack': 0.24721958967217725,
 'Defense': 0.5677711011725426,
 'Sp. Atk': 0.12332165977104388,
 'Sp. Def': 0.18829872292645752,
 'Speed': 0.00239265937312135,
 'Total': 0.5631377907941676}

#### Compare pokemons who have single type vs those having two types.

In [28]:
# Your code here# Your code here
# This code adds a new column to the pokemon dataframe called Combo Type which is created by combining the values of 'Type 1' and 'Type 2' columns into a single string, separated by a dash (-) symbol. If 'Type 2' is missing (i.e., the value is NaN), then only the value of 'Type 1' is used. The newly created Combo Type column is then split into a list of values using the str.split() method.
def combo(value):
    type1 = value['Type 1'];
    type2 = value['Type 2']
    if str(type2) == 'nan':
        return type1
    else:
        return type1 +'-'+ type2
    
pokemon['Combo Type'] = pokemon.apply(combo, axis=1)
pokemon['Combo Type']=pokemon['Combo Type'].str.split('-')

In [29]:
number_of_types = []
for x in pokemon['Combo Type']:
    a = len(x)
    number_of_types.append(a)
pokemon['number_of_types'] = number_of_types
# This code creates a new column in the pokemon dataframe called number_of_types, which contains the number of types that each Pokémon has. It does this by iterating through the Combo Type column and using the len function to determine how many elements (i.e. types) are in each row. The resulting length is then appended to a list called number_of_types, which is then used to create the new column.

In [30]:
one_type = pokemon[pokemon['number_of_types']==1]
two_type = pokemon[pokemon['number_of_types']==2]
type_results = t_test_features(one_type,two_type)
# The type_results variable contains a dictionary of the t-test scores for each of the seven features ('HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total') comparing the values between Pokémon with one type versus those with two types. The feature name is the key and the p-value is the value.

#### What conclusions can you make?

In [31]:
# Your comment here Type 1 and Type 2 have significantly different stats in everything except H

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [32]:
# Your code here # Your code here
# https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_rel.html
ttest_rel(pokemon['Attack'], pokemon['Defense'])
# The t-test relative function tests the null hypothesis that the mean of two related (or paired) samples are equal. The function returns a t-statistic and a two-tailed p-value.
# The result of ttest_rel(pokemon['Attack'], pokemon['Defense']) will be a tuple of the t-statistic and the p-value for the test of the difference between the attack and defense features of the Pokemon dataset.

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [34]:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])
# The t-test relative function tests the null hypothesis that the mean of two related (or paired) samples are equal. The function returns a t-statistic and a two-tailed p-value.
# The result of ttest_rel(pokemon['Attack'], pokemon['Defense']) will be a tuple of the t-statistic and the p-value for the test of the difference between the attack and defense features of the Pokemon dataset.

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

#### What conclusions can you make?

In [ ]:
# # Your comment here Attack and defense are statistically different with Attack being higher.
# Sp. Attack and Sp. Def are statistically the same.